/* Fonts */
@font-face {
    font-family: Nunito;
    src: url(../fonts/Nunito-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: Nunito;
    src: url(../fonts/Nunito-Regular.ttf);
    font-weight: 500;
}

@font-face {
    font-family: Nunito;
    src: url(../fonts/Nunito-Light.ttf);
    font-weight: 300;
}

/* General */

body {
    background: #efefef;
    font-family: Nunito, sans-serif;
}

a, a:hover, a:focus {
    text-decoration: none;
    color:#fff;
}

/* les images ont 100% de largueur par rapport à leurs parents */
img {
    width: 100%;
    height: auto;
}

/* Header */

@-webkit-keyframes clignote {
  from {opacity:1;}
  to {opacity:0;}
}
@keyframes clignote {
  from {opacity:1;}
  to {opacity:0;}
}

header {
    line-height: 50px;
    background: rgb(37, 37, 37);
    text-align: center;
    font-weight: bold;
    padding: 0 20px;
}

header h1 a {
    font-size: 1.5em;
}

header h1 i {
    margin-left: 5px;
}
header h1 a span {
    -webkit-animation: clignote .5s ease alternate infinite;
    animation: clignote .5s ease alternate infinite;
}

header nav {
    font-size: .9em;
}

/* presentation */
section {
    padding: 30px;
    background: white;
    border-bottom: 3px solid #ddd;
    text-align: center;
}

section h1 {
    font-size: 2.5em;
    font-weight: bold;
    color:#333;
    margin-bottom: 10px;
}

section p {
    font-size: 1.2em;
    color:#777;
    line-height: 1.4em;
    font-style: italic;
}

/* Articles */
.articles {
    margin-bottom: 30px;
}

article {
    margin-top: 30px;
    border-radius: 7px;
    background: white;
    border-bottom: 2px solid #ddd;
}

article img {
    border-radius: 7px 7px 0 0;
}

article h1, article a, article p {
    margin: 20px;
}

article h1 {
    font-weight: bold;
    color:#333;
    font-size: 1.1em;
    line-height: 1.3em;
}

article p {
    color: #555;
    line-height: 1.4em;
}

article a {
    display: block;
    background: rgb(37, 37, 37);
    border-radius: 4px;
    text-align: center;
    line-height: 40px;
    border-bottom: 2px solid black;
}

/* Affichage sur tablette */
@media (min-width: 768px) {
    header h1 {
        text-align: left;
    }
    header ul {
        float: right;
    }
    header li {
        float: left;
    }
    header li + li{
        margin-left: 15px;
    }

    section {
        text-align: left;
    }

    /* on oblige les articles à s'afficher l'un à coté de l'autre même si un articles est plus long qu'un autres */
    .articles div:nth-child(2n+1) {
        clear: left;
    }
}

/* Affichage sur ecran de bureau */
@media (min-width: 992px) {
    .articles div:nth-child(2n+1) {
        clear: none;
    }
    .articles div:nth-child(3n+1) {
        clear: left;
    }

    article img {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        transition: filter .6s linear;
        -webkit-transition: filter .6s linear;
    }

    article:hover img {
        -webkit-filter:none;
        filter:none;
    }
}


